<!--recommendation options-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" size="large">sleepyhead</ion-title>
    <ion-button (click)="dismiss()"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="outer">
    <!--SECTION 1 -->
    <h5>to maximize sleep:</h5>
    <hr>

    <ion-card *ngFor="let time of times.max; let i=index" [color]=time.color>
      <div class="ion-text-center" color="tertiary" button=true (click)="chooseTime(i, 'max')">
        <h3><span class="textLabel">sleep:  </span>{{printDateString(time.sleep)}}</h3>
        <h3><span class="textLabel">wake:  </span>{{printDateString(time.wake)}}</h3>
        <p class="textLabel">{{printHoursString(time.hours)}}</p>
      </div>
    </ion-card>

    <!--SECTION 2 -->
    <h5>to maintain a consistent schedule:</h5>
    <hr>

    <ion-card *ngFor="let time of times.consistent; let i=index" [color]=time.color>
      <div class="ion-text-center" color="tertiary" button=true (click)="chooseTime(i, 'consistent')">
        <h3><span class="textLabel">sleep:  </span>{{printDateString(time.sleep)}}</h3>
        <h3><span class="textLabel">wake:  </span>{{printDateString(time.wake)}}</h3>
        <p class="textLabel">{{printHoursString(time.hours)}}</p>
      </div>
    </ion-card>
      
    <!--SECTION 3 -->
    <h5>best overall:</h5>
    <hr>

    <ion-card *ngFor="let time of times.overall; let i=index" [color]=time.color>
      <div class="ion-text-center" color="tertiary" button=true (click)="chooseTime(i, 'overall')">
        <h3><span class="textLabel">sleep:  </span>{{printDateString(time.sleep)}}</h3>
        <h3><span class="textLabel">wake:  </span>{{printDateString(time.wake)}}</h3>
        <p class="textLabel">{{printHoursString(time.hours)}}</p>
      </div>
    </ion-card>
  </div>
</ion-content>
