ion-label {
    --border-color: var(--ion-color-tertiary);
}

ion-list {
    --ion-background-color: transparent !important;
}

.textLabel {
    font-size:medium 
}

ion-card{
    margin: 12px; 
    margin-left: 20px;
    margin-right: 20px; 
}

// ion-label {
//     margin-bottom: 110x;
// }