<!--recommendation options-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" size="large">sleepyhead</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--SECTION 1 -->
    <ion-item color="transparent" lines="inset">
      <ion-label>
        <ion-text div color="tertiary"><h2>to maximize sleep:</h2></ion-text>
      </ion-label>
      <hr>
    </ion-item>

    <ion-list color="transparent">
      <ion-card>
        <div class="ion-text-center" color="tertiary">
          <h2><span class="textLabel">sleep:  </span>12:00am</h2>
          <h2><span class="textLabel">wake:  </span>8:00am</h2>
        </div>
      </ion-card>
    </ion-list>
  </ion-content>
