ion-content {
    div.outer {
        margin-left: 10%;
        margin-right: 10%;
        color: var(--ion-color-tertiary);

        hr { 
            border: 1px solid var(--ion-color-tertiary);
        }

        .textLabel {
            font-size: medium;
        }
    }
}

// ion-label {
//     margin-bottom: 110x;
// }