<!--recommendation options-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" size="large">sleepyhead</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="outer">
    <ion-button shape="round" (click)="getMaxTimes()">get max times</ion-button>
    <ion-button shape="round" (click)="getConsistentTimes()">get consistent times</ion-button>
    <ion-button shape="round" (click)="getOverallTimes()">get overall times</ion-button>

    <!--SECTION 1 -->
    <h5>to maximize sleep:</h5>
    <hr>

    <ion-card *ngFor="let time of times.max; let i=index" [color]=time.color>
      <div class="ion-text-center" color="tertiary" button=true (click)="chooseTime(i, 'max')">
        <h2><span class="textLabel">sleep:  </span>{{time.sleep}}</h2>
        <h2><span class="textLabel">wake:  </span>{{time.wake}}</h2>
      </div>
    </ion-card>

    <!--SECTION 2 -->
    <h5>to maintain a consistent schedule:</h5>
    <hr>

    <ion-card *ngFor="let time of times.consistent; let i=index" [color]=time.color>
      <div class="ion-text-center" color="tertiary" button=true (click)="chooseTime(i, 'consistent')">
        <h2><span class="textLabel">sleep:  </span>{{time.sleep}}</h2>
        <h2><span class="textLabel">wake:  </span>{{time.wake}}</h2>
      </div>
    </ion-card>
      
    <!--SECTION 3 -->
    <h5>best overall:</h5>
    <hr>

    <ion-card *ngFor="let time of times.overall; let i=index" [color]=time.color>
      <div class="ion-text-center" color="tertiary" button=true (click)="chooseTime(i, 'overall')">
        <h2><span class="textLabel">sleep:  </span>{{time.sleep}}</h2>
        <h2><span class="textLabel">wake:  </span>{{time.wake}}</h2>
      </div>
    </ion-card>
  </div>
</ion-content>
