<!-- HOME PAGE -->
<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center" size="large">sleepyhead</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="tertiary">
    <div class="ion-justify-content-center" id="homePgSection">
      <p class="text ion-no-margin">today's bedtime:</p>
      <p class="time ion-no-margin">11:30 pm</p>
      <br>
      <p class="text ion-no-margin">tomorrow's wake time:</p>
      <p class="time ion-no-margin">8:00 am</p> 
    </div>
  </ion-text>

  <ion-button shape="round" (click)="sleepButton()">{{text}}</ion-button>
</ion-content>
