ion-header {
    ion-toolbar {
        ion-button {
            float: right;
        }
    }
}

ion-content {
    div.outer {
        margin-left: 10%;
        margin-right: 10%;
        color: var(--ion-color-tertiary);

        hr { 
            border: 1px solid var(--ion-color-tertiary);
        }

        // input:read-only { 
        //     background-color: white;
        //     padding-left: 50px;
        // }

        span {
            display:inline-block; 
            vertical-align: top;
            width:45%;

            .about-you-labels{
                background-color: var(--ion-color-primary);
                border-radius: 10px;
                padding-left: 10px;
            }
        }
        span.right-margin {
            margin-right: 10%;
        }

        // ion-button {
        //     width: 100%;
        // }
    }
}
