<!-- profile page -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" size="large">sleepyhead</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="authenticationService.user$ | async as user" class="outer">
    <h2>
      About You
    </h2>
    <hr>
    <span class="right-margin">
      <h5>Name</h5>
        <div class = "about-you-labels">
          <h3>{{user.displayName}}</h3>
        </div>
    </span>
    <span>
      <h5>Age</h5>
        <div class = "about-you-labels">
          <h3 *ngIf="databaseService.userDoc">{{databaseService.userDoc.age}}</h3>
        </div>
    </span>
      
    
    <h2>
      Daily Goals
    </h2>
    <hr>
    <span class="right-margin">
      <h5>Hours of Sleep</h5>
      <div class = "about-you-labels">
        <h3 *ngIf="databaseService.userDoc">{{databaseService.userDoc.goal}}</h3>
      </div>
    </span>
    <span>
      <h5>Notifications</h5>
      <div class = "about-you-labels">
        <h3>30</h3>
      </div>
      <h5 class="ion-text-center">minutes before bedtime</h5>
    </span>


    <h2>
      Tomorrow's Events
    </h2>
    <hr>

    <div *ngFor="let item of authenticationService.calendarItems">
      <ion-card class="ion-text-center">
        <h5>{{item.summary}}</h5>
        <h5>{{translateDateTime(item.start.dateTime)}}</h5>
      </ion-card>
    </div>
    
    <!--<div class="ion-text-center">
      <ion-button (click)="authenticationService.getCalendar()" class="button is-success">Display Google Calendar Events</ion-button>
    </div>-->
  </div>
</ion-content>
