<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <h3>Google Calendar + Firebase</h3>
  <p>Welcome to AngularFirebase world </p>
  
  <div *ngIf="authenticationService.user$ | async as user else elseBlock">
    <h3>Logged in as {{ user.displayName }}</h3>
    <img src="{{ user.photoURL }}" width="50px">
    <!-- TODO: logout -->
    <!-- <ion-button (click)="authenticationService.logout()" class="button">Logout</ion-button> -->
    <ion-button (click)="authenticationService.getCalendar()" class="button is-success">Get Google Calendar</ion-button>
    <div *ngFor="let item of authenticationService.calendarItems">
      <h6>{{ item.summary }}</h6>
      <h6>{{ item.start.dateTime }}</h6>
      <hr>
    </div>
  </div>
  <ng-template #elseBlock>
    <h3>Google Calendar + Firebase</h3>
    <p>Welcome to AngularFirebase world</p>
      <ion-button (click)="authenticationService.login()" class="button is-danger">Login with Google</ion-button>
  </ng-template>
</ion-content>