<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="auth.user$ | async">
    <ion-button (click)="auth.getCalendar()" class="button is-success">Get Google Calendar</ion-button>
    <div *ngFor="let item of auth.calendarItems">
        <h3>{{ item.summary }} - {{ item.start.dateTime }} - {{ item.status }}</h3>
        <hr>
    </div>

</div>  
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>