<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" size="large">sleepyhead</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="authenticationService.user$ | async as user">
    <ion-text color="tertiary">
      <h2>Welcome {{user.displayName}}</h2>
      <h2>Tell us a few things about yourself before we get started</h2>
    </ion-text>
  </div>

  <form [formGroup]="setUpForm" (ngSubmit)="setUp()">
    <ion-item lines="none">
      <ion-label position="stacked" color="tertiary">Age</ion-label>
      <ion-input formControlName="age" type="number" color="tertiary"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked" color="tertiary">Desired hours of sleep per night</ion-label>
      <ion-input formControlName="goal" type="number" color="tertiary"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked" color="tertiary">Desired time to wake up no later than</ion-label>
      <ion-datetime formControlName="wakeGoal" displayFormat="h-mm-a"></ion-datetime>
    </ion-item>
 
    <ion-button expand="block" type="submit" [disabled]="!setUpForm.valid">Confirm</ion-button>
  </form>
</ion-content>
